html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --grid: 8px;
  /*Color*/
  --backgroundColor: #fafafa;
  --black: #000;
  --silver: #a2a1a1;
  --blue: #398bff;
  --orange: #f77a37;
  --rose: #cd6e8c;
  --green: #019178;
  --gold: #ffd700;
}

body {
  background-color: var(--backgroundColor);
  color: var(--black);
}

/*Template*/

.content {
  margin-bottom: 10vh;
}

.content-full {
  width: 100%;
  box-sizing: border-box;
}

.content-wrapper {
  width: 100%;
  padding: 0 12%;
  box-sizing: border-box;
}

.row {
  width: 100%;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
}

.collumn {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.center * {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*Navigation*/

nav {
  padding: 24px 0;
  font-size: 2.1328em;
  color: var(--silver);
}

nav a {
  color: var(--silver);
  font-family: "ff-real-text-pro", sans-serif;
}

/*Home Page*/

#heroWelcome {
  max-width: 56rem;
  display: flex;
  min-height: 48vh;
  align-items: center;
  align-content: center;
}

.collumn > div {
  position: relative;
}

.channel-image {
  font-size: calc(11 * var(--grid));
  top: calc(2 * var(--grid));
  position: absolute;
}

.image-right {
  right: calc(-1 * (9 * var(--grid)));
  left: auto;
}

.image-left {
  left: calc(-1 * (12 * var(--grid)));
  right: auto;
}

footer {
  margin-bottom: 8rem;
  margin-top: 24rem;
}

footer p {
  color: var(--silver);
}
